Django==1.7.1
Pillow==2.6.1
django-cors-headers==0.13
oauth2client==1.4.2
psycopg2==2.5.4
pyOpenSSL==0.14
python-slugify==0.1.0
python3-memcached==1.51
## The following requirements were added by pip --freeze:
Unidecode==0.04.16
cffi==0.8.6
coverage==3.7.1
cryptography==0.6.1
django-braces==1.4.0
django-oauth-toolkit==0.7.2
flake8==2.2.5
httplib2==0.9
mccabe==0.2.1
oauthlib==0.7.1
pep8==1.5.7
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pyflakes==0.8.1
pystache==0.5.4
python-dateutil==2.2
pytz==2014.9
rsa==3.1.4
six==1.8.0
